services:
  zerotier-docker-container-nat:
    container_name: zerotier-docker-container-nat
    image: zerotier-docker-container-nat
    restart: always
    privileged: true
    volumes:
      - zerotier-one:/var/lib/zerotier-one
    environment:
      - ZT_NETWORKS=xxx1 xxx2
      - ZT_BRIDGE=true
    ports:
      - 9993:9993/udp

    # for predefined network
    #networks:
    #  - my-br

# for predefined network
#networks:
#  my-br:
#    external: true

volumes:
  zerotier-one:
